<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="user"/>
    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!-- 组播注册 -->
    <!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->
    <!-- 生成远程服务代理，可以像使用本地bean一样使用userService -->
    <dubbo:reference id="cityInfoService" interface="com.zero.data.service.ICityInfoService"/>
    <!-- 关闭某个启动时对某个服务的检查.没有的话就报错-->
    <dubbo:reference interface="com.zero.data.service.ICityInfoService" check="false"/>
    <!-- 引用缺省默认是延迟初始化,只有被注入到其他bean时才会初始化.可以使用饥饿加载,即动态代理-->
    <dubbo:reference interface="com.zero.data.service.ICityInfoService" init="true"/>
</beans>